* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/*
header
*/

/*
reusable
*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 200%;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

h2,
h3 {
  color: black;
}

h2 {
  font-size: 170%;
  font-weight: 300;
  padding: 60px 0 10px 0;
  text-align: center;
  margin-top: 0;
}

h2:after {
  display: block;
  margin: auto;
  width: 100px;
  text-align: center;
  background-color: #e67e22;
  content: " ";
  border: 1px solid #e67e22;
  margin-top: 20px;
}
h3 {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: none;
  width: 90%;
  padding-left: 10%;
  text-align: center;
  padding-bottom: 30px;
}

h4 {
  line-height: 1.5;
  font-size: 130%;
  font-weight: 300;
  padding: 20px 0;
}

.feature p {
  line-height: 1.2;
  font-size: 90%;
  font-weight: 400;
}

.feature img {
  height: 50px;
  width: 50px;
  fill: #e67e22;
  margin-left: 20px;
  font-size: 50%;
}
/*
header
*/
.header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.4)),
    url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.head {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*
buttons
*/

.but {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #e67e22;
  border-radius: 100px;
  text-decoration: none;
}

.but1:link,
.but1:visited {
  background-color: #e67e22;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.but1:hover,
.but1:active {
  background-color: #da731a;
  color: white;
  border: 1px solid #da731a;
}

.but2:link,
.but2:visited {
  color: #e67e22;
}
.but2:hover,
.but2:active {
  background-color: #da731a;
  color: white;
  border: 1px solid #da731a;
}

/*
nav bar
*/

.bar {
  padding-top: 10px;
}
.logo {
  height: 100px;
  margin: 0 auto;
  float: left;
}

.navbar {
  float: right;
}
li {
  display: inline-block;
  padding: 35px 20px 22px;
}

li a:link,
li a:visited {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  border-bottom: 0 solid transparent;
  transition: border-bottom 0.5s;
  -webkit-transition: border-bottom 0.5s;
  -moz-transition: border-bottom 0.5s;
  -ms-transition: border-bottom 0.5s;
  -o-transition: border-bottom 0.5s;
}

li a:hover,
li a:visited {
  border-bottom: 2px solid #e67e22;
}

/*hover over nav*/

.navlis:hover {
  position: relative;
}

.ul1 {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  width: 200px;
  position: absolute;
  top: 70px;
  line-height: 10px;
  background-color: white;
  z-index: 10;
  opacity: 0;
  border-left: 4px solid #e67e22;
}

.res-ul {
  width: 280px;
}

.feed-ul {
  width: 280px;
}

.home-ul {
  width: 250px;
}
.ul1::before {
  content: "";
  opacity: 1;
  width: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
  position: absolute;
  top: -20px;
  left: 10%;
  z-index: -100;
  overflow: visible;
}
.navlis .ul1 li {
  display: block;
  color: black;
  padding: 10px;
  text-transform: uppercase;
  font-size: 70%;
  z-index: 10;
}

.ul1 li a:link,
.ul1 li a:visited {
  color: #222;
  border: none;
  font-weight: 500;
  z-index: 10;
}

.ul1 li a:hover,
.ul1 li a:active {
  color: #e67e22;
}
.navlis:hover .ul1 {
  display: block;
  opacity: 1;
  height: auto;
}

/*
.up,
.down {
  font-size: 50%;
  padding: 10% 2px;
}
.up {
  display: none;
}
.navlis:hover .up {
  display: inline-block;
}

.navlis:hover .down {
  display: none;
}
*/
/**/
/*sticky*/
.sticky {
  height: 56px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  overflow: visible;
  box-shadow: 0px 1px 5px #222;
  margin-top: -50px;
}
.stickyhidden {
  display: none;
}

.sticky .logo {
  float: left;
  height: 56px;
  overflow: hidden;
}
.stickyul {
  float: right;
}
.sticky li {
  padding: 20px 35px 0;
}

.sticky li a {
  color: black;
  padding-top: 20px;
  padding-bottom: 11px;
}

/*sticky hover*/
.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.ul2 {
  border: 1px solid rgb(80, 80, 80);
  box-shadow: 2px 2px 5px black;
  background-color: rgb(80, 80, 80);
  position: absolute;
  top: 57px;
}
.ul2 li a:link,
.ul2 li a:visited {
  color: white;
  padding-top: 10px;
}
.ul2 li a:hover,
.ul2 li a:active {
  color: #da731a;
}

.ul2::after {
  content: " ";
  opacity: 1;
  width: 0px;

  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(80, 80, 80) transparent;
  position: absolute;
  top: -20px;
  left: 10%;
  overflow: visible;
}

/*sign Up*/
.body {
  position: relative;
}
.modalpb {
  display: block;
}
.modalph {
  display: none;
}
.modalp {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  padding-top: 25vh;
  height: 100vh;
  backdrop-filter: blur(4px);
  font-weight: 400;
  z-index: 10;
}

.modal {
  display: grid;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  grid-template-columns: 30% auto auto;
  grid-template-rows: auto auto auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px black;
  z-index: 1;
  cursor: pointer;
}

.contain {
  grid-column: 2/4;
  grid-row: 1/4;
  margin-left: 12%;
  margin-right: 10%;
  width: 80%;
  position: relative;
  margin-bottom: 20px;
}
.contain h3 {
  margin: 20px 0 30px;
  padding: 0;
  font-size: 110%;
  text-transform: uppercase;
  font-weight: 400;
}
.contain h3 img {
  position: absolute;
  left: 100%;
  top: 4%;
}
.userpass {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  background-color: rgb(233, 231, 231);
  overflow: hidden;
  padding-left: 30px;
  font-size: 80%;
  letter-spacing: 2px;
}
.us1 {
  margin: 60px 0 10px;
}
.us3 {
  margin: 80px 0 10px;
}
.login,
.register,
.forgot {
  cursor: pointer;
  box-shadow: 2px 0px 1px rgb(180, 180, 180);
  padding: 20% 10px;
  margin-right: 5%;
  width: 110%;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  background-color: rgb(250, 250, 250);
  height: 136px;
}

.modal .login img,
.modal .register img,
.modal .forgot img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.userpass:focus {
  width: 100%;
  padding-left: 30px;
  border-color: #e67e22;
}

.btn-lg {
  outline: none;
  border: none;
  color: white;
  background-color: #e67e22;
  padding-left: 0px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn-lg:focus {
  padding-left: 0px;
  background-color: #e67e22;
}
.activem {
  color: white;
  background-color: #e67e22;
  box-shadow: 2px 0 0 #e67e22;
}

.modal a:link,
.modal a:visited {
  text-decoration: none;
  text-align: center;
  position: relative;
  left: 31%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: black;
}

.modal a:hover,
.modal a:active {
  color: #e67e22;
  font-size: 105%;
  left: 30%;
}
.hidden {
  display: none;
}

.fpass {
  margin-bottom: 5%;
}

/*
favourates
*/

.fav {
  display: block;
  margin-top: 100px;
  padding: 0;
  padding-top: 60px;
}

.fav ul {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fav li {
  display: block;
  float: left;
  height: 170px;
  width: 25%;
  margin: 0 0 -5px 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.fav ul li img {
  width: 100%;
  margin: 0;
  padding: 0;
  transform: scale(1.5);
  overflow: hidden;
  opacity: 0.4;
  background-position: center;
  transition: transform 0.4s, opacity 0.4s;
}

ul li img:hover {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.8;
  transform: scale(1);
}
/*how it works*/
.js-we .row {
  margin-top: 0;
}
.js-we .row h2 {
  margin-top: 40px;
}
.simple {
  padding-top: 50px;
  background-color: rgb(240, 240, 240);
  padding-bottom: 50px;
}

.iphone {
  position: relative;
  height: 300px;
  width: 45%;
  left: 0;
  float: left;
}
.work {
  float: right;
  padding-top: 20px;
  margin-right: 20px;
}

.how {
  display: inline-block;
}

.letter {
  float: left;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 10px;
  border: 1px solid #e67e22;
  border-radius: 100px;
  margin-right: 16px;
  font-weight: 100;
  font-size: 150%;
  color: #e67e22;
}

.newrow {
  padding: 20px 0;
  clear: both;
}

.letter::after {
  clear: both;
}

.link-to-install {
  margin: 80px 0 0 20px;
}

/*
cities
*/
.cities {
  padding-top: 50px;
  padding-left: 5%;
}
.boxcity {
  float: left;
  padding-bottom: 20px;
  margin: 0;
}
.boxcity img {
  width: 90%;
  border-radius: 2px;
  height: 130px;
}
.boxcity h4 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.boxcity h4::after {
  display: block;
  margin: auto;
  width: 50px;
  text-align: center;
  background-color: #e67e22;
  content: " ";
  border: 1px solid #e67e22;
  margin-top: 20px;
}
.boxcity p {
  line-height: 1.8;
  letter-spacing: 0;
  font-size: 80%;
  font-weight: 400;
}

.boxcity .icon {
  float: left;
  height: 23px;
  width: 23px;
  margin-right: 15px;
}

.cities {
  padding-bottom: 50px;
}

.boxcity a {
  color: #da731a;
  text-decoration: none;
}

/*
customer
*/

.customer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/back-customers.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 40px;
  padding-top: 50px;
}

.customer h2 {
  color: white;
}

.customer div blockquote {
  color: white;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 200;
  padding: 2%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.customer div blockquote:before {
  content: "\201C";
  color: white;
  font-size: 300%;
  display: block;
}
.customer div img {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  float: left;
  margin: 0 20px;
}

.customer div cite {
  margin-top: 20px;
  float: right;
  color: white;
  font-weight: 300;
  font-size: 120%;

  margin-right: 30px;
}

/*plans*/
.plan {
  padding-top: 30px;
  background-color: #bbb;
  padding-bottom: 40px;
}

.plan .col {
  background-color: rgb(245, 245, 245);
}
.plan-type {
  display: block;
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 200;
}
.plan-block {
  box-shadow: 3px 2px 8px rgb(100, 100, 100);
}
.plan-block .sdw {
  padding: 20px;
}
.plan-price {
  display: block;
  color: #e67e22;
  font-size: 300%;
  font-weight: 100;
  margin-bottom: 5px;
}
.plan-price span {
  font-size: 40%;
  color: #e67e22;
  font-weight: 300;
}

.plan-des {
  display: block;
  color: black;
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 5px;
  letter-spacing: 0;
}

.plan p::before {
  margin-top: 10px;
  display: block;
  content: "";
  background-color: #eee;
  border: 1px solid #eee;
  margin-bottom: 30px;
}
.plan p::after {
  margin-top: 30px;
  display: block;
  content: "";
  background-color: #eee;
  border: 1px solid #eee;
}

.plan p {
  font-size: 80%;
  line-height: 2;
  margin: 0;
  background-color: white;
  font-weight: 400;
}

.plan p img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  margin-left: 10px;
  color: #e67e22;
}

.plan a {
  left: 20%;
  margin: 20px 50px 20px 20px;
}

/*
Form
*/
.form {
  background-color: #efefef;
  font-size: 80%;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-top: 50px;
}
.form2 {
  margin-top: 50px;
}

.form2 label {
  font-weight: 400;
  font-size: 120%;
}

input,
select,
textarea {
  width: 60%;
  padding: 10px 10px;
  border: 1px solid #bbb;
  box-shadow: 2px 2px 2px #999;
  border-radius: 4px;
  color: #555;
}
input:focus,
select:focus,
textarea:focus {
  width: 60%;
  padding: 10px 10px;
  border: 1px solid #e67e22;
  box-shadow: 2px 2px 2px #444;
  outline: none;
  border-radius: 4px;
}

.form .newsl {
  width: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  border: none;
  padding: 0;
  outline: 0;
  box-shadow: none;
}

.form2 span {
  font-weight: 300;
  font-size: 110%;
}
.button {
  width: 40%;
}
.form .but1 {
  float: right;
}

.form a img {
  height: 20px;
  margin-left: 4px;
  width: 20px;
  float: right;
}

.form a {
  font-size: 120%;
}

.formdet {
  margin-left: 200px;
  background-color: rgb(231, 20, 20);
}

/*
footer
*/

.footer {
  background-color: black;
  padding-bottom: 50px;
}

.footer li a:link,
.footer li a:visited {
  color: #ddd;
  border-bottom: 0 solid rgb(184, 182, 182);
  transition: border-bottom 0.1s;
}

.footer li a:hover,
.footer li a:active {
  color: #ddd;
  border-bottom: 2px solid rgb(184, 182, 182);
}

.footer li a img {
  height: 24px;
  width: 24px;
}

.foot-link {
  display: inline-block;
  font-size: 80%;
}

.social-m {
  margin-right: 10px;
  float: right;
}

.social-m::after {
  clear: both;
}

.footer .social-m li a {
  border-bottom: 0 solid rgb(184, 182, 182);
}

.footer p {
  text-align: center;
  color: white;
  font-size: 80%;
  font-weight: 200;
  line-height: 2;
}

.footp {
  clear: both;
}

.section_on {
  opacity: 1;
  transform: translateY(0);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.section_up {
  opacity: 0;
  transform: translateY(60px);
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
}

.hid {
  display: none;
}
